.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.input {
    background-image: url('../../resources/images/retry-bg.png');
    border-radius: 20px;
    border: 3px solid #30363d;
    height: 80px;
    width: 90%;
}