:root {
    --init-background-color: #DADCE1;
    --init-border-color: #30363d;
    --text-color: black;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body.dark {
    --init-background-color: #0d1117;
    --init-border-color: #30363d;
    --text-color: white;
}

td {
    border: 3px solid var(--init-border-color);
    border-radius: 5px;
    padding: 20px;
    max-height: 10px;
}

tr {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: auto;
    min-height: 20px;
    display: block;
}

p {
    color: var(--text-color);
}
