:root {
    --init-background-color: #4AA3A2;
    --text-color: aquamarine;
}

body.dark {
    --init-background-color: #12769E;
    --text-color: #FCF6F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2rem;
    /*margin-bottom: 30px;*/
    color: #666;
}

.play-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #0056b3;
}

.difficulty-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.difficulty-container img {
    margin: 0 20px;
    border-radius: 15px;
}
