:root {
    --init-background-color: #4AA3A2;
    --text-color: aquamarine;
}

body.dark {
    --init-background-color: #12769E;
    --text-color: #FCF6F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.motus-border {
    padding: 5px 15px;
    background-color: #61dafb;
    border-radius: 20%;
    color: white;
    margin: 5px;
}

.motus-border p {
    font-family: "Audiowide", sans-serif;
    font-size: 2em;
}

.motus-danger {
    background-color: indianred;
    border-color: dimgrey;
}

.motus-warning {
    background-color: orange;
    border-color: white;
}

.motus-success {
    background-color: greenyellow;
    border-color: white;
}

.section-accueil {
    width: 100%;
    min-height: 100vh;
    padding: 100px 200px;
    background-color: var(--init-background-color);
}

.content-accueil {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content-history {
    display: flex;
    flex-direction: column;
}