* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    display: flex;
    background-image: url("../resources/images/background3.png");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
}

.column-left {
    width: 25%;
    display: flex;
    justify-content: center;
}

.column-middle {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column-right {
    width: 25%;
    display: flex;
    justify-content: center;
}

.color-code {
    background-color: #9bd5f8;
    border-radius: 20px;
    margin: 0 20px;
    padding: 30px;
    height: 30%;
    width: 80%;
}

.rules {
    background-color: #9bd5f8;
    border-radius: 20px;
    margin: 0 20px;
    padding: 30px;
    height: 30%;
    width: 80%;
}

.input {
    background-color: #9bd5f8;
    border-radius: 20px;
    height: 80px;
    width: 90%;
}

.history {
    background-color: #9bd5f8;
    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    height: 500px;
    width: 90%;
}

.retry {
    background-color: #9bd5f8;
    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    height: 100px;
    width: 90%;
}

.container-input {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-input input {
    color: red;
}