* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    display: flex;
    background-color: #0d1117;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
}

.column-left {
    width: 25%;
    display: flex;
    justify-content: center;
}

.column-middle {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column-right {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.color-code {
    background-color: #0d1117;
    border-radius: 20px;
    border: 3px solid #30363d;
    margin: 0 20px;
    padding: 30px;
    height: 30%;
    width: 80%;
}

p {
    color: white;
}

.rules {
    background-color: #0d1117;
    border-radius: 20px;
    border: 3px solid #30363d;
    margin: 0 20px 10px 20px;
    padding: 30px;
    height: 30%;
    width: 80%;
}

.input {
    background-image: url('../resources/images/retry-bg.png');
    border-radius: 20px;
    border: 3px solid #30363d;
    height: 80px;
    width: 90%;
}

.history {
    background-image: url('../resources/images/fu_xuan.jpg');
    border-radius: 20px;
    border: 3px solid #30363d;
    margin-top: 40px;
    padding: 30px;
    min-height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.retry {
    background-image: url('../resources/images/retry-bg.png');
    border-radius: 20px;
    border: 3px solid #30363d;
    margin-top: 40px;
    padding: 30px;
    height: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-input input {
    color: red;
}

.green {
    background: green;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.lose-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8d7da;
    border-radius: 20px;
    border: 3px solid #30363d;
    height: 80px;
    width: 90%;
}

.lose-game p {
    color: #721c24;
}

.lose-game strong {
    color: #5e1c21;
}

.win-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4edda;
    border-radius: 20px;
    border: 3px solid #30363d;
    height: 80px;
    width: 90%;
}

.win-game p {
    color: #155724;
}

.win-game strong {
    color: #1c4d27;
}

.button-style {
    color: white;
    border: 3px solid #30363d;
    background-color: #0d1117;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin: 20px;
}

td {
    border: 3px solid #30363d;
    border-radius: 5px;
    padding: 20px;
    max-height: 10px;
}

tr {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: auto;
    min-height: 20px;
    display: block;
}
